name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  coverage:
    name: Test and publish test coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: "12"
      - run: npm install
      - uses: paambaati/codeclimate-action@v2.4.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CodeClimateReporterId }}
          REACT_APP_CLIENT_ID: ${{ secrets.OktaID }}
          REACT_APP_OKTA_ISSUER_URI: ${{ secrets.OktaURI }}
        with:
          coverageCommand: npm run coverage
